.about {
  height: auto;
  color: $color-font-light;
  background: $color-secondary;
  padding: 1.25rem 0;

  &-content {
    @include flexy($dir: column, $just: center, $align: center);
    padding: 0;
    text-align: center;

    .btn-youtube {
      margin-top: 1.25rem;
    }
  }
}

.introduction {
  @include flexy($dir: row, $just: center, $align: center);
  height: 100vh;
  padding: 0 !important;
  overflow: hidden;
  background: linear-gradient(
      rgba($color-primary, 0.9),
      rgba($color-primary, 0.8)
    ),
    url("/img/bg-main.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &-content {
    @include flexy($dir: row, $just: flex-start, $align: center);
    overflow: hidden;
    border-left: 8px solid $color-neon;

    .line {
      display: block;
      width: 6px;
      min-height: 114px;
      height: 100%;
      background: $color-neon;
      margin: 0 0.75rem 0 0;
      padding: 0;
    }
  }

  &-text {
    @include flexy($dir: column, $just: center, $align: flex-start);
    font-size: 24px;
    font-weight: weight(bold);
    line-height: 1.25;
    color: $color-font-light;
  }

  @include mq(md) {
    &-text {
      font-size: 72px;
    }
  }

  &-animate {
    @include flexy($dir: row, $just: flex-start, $align: center);
    font-weight: weight(bold);
    line-height: 1.25;
    color: $color-neon;
  }

  #text-tab {
    transition: opacity 0.5s ease-in-out;
    transform: scaleX(0.25);
  }
}

.content {
  padding: 1.25rem;
  background: $color-neon;
}
