.about {
  @extend %py-panel;
  height: auto;
  color: $color-font-light;
  background: $color-secondary;

  &-content {
    @include flexy($dir: column, $just: center, $align: center);
    padding: 0;
    text-align: center;

    .btn-neon {
      margin-top: 1.25rem;
    }
  }
}

.contact {
  @extend %py-panel;
  min-height: calc(100vh - 185px);
  height: auto;
  background: linear-gradient(
      rgba($color-primary, 0.9),
      rgba($color-primary, 0.8)
    ),
    url("/img/bg-main.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $color-font-light;

  &-list {
    @include flexy($dir: column, $just: center, $align: flex-start);
    &-item {
      @include flexy($dir: row, $just: flex-start, $align: center);
      font-size: 16px;
      font-weight: weight(thin);
      svg {
        margin-right: 6px;
      }
    }
  }

  &-text {
    text-align: center;
    margin-bottom: 1.25rem;
    color: rgba($color-font-light, 0.7);
  }

  &-information {
    @include flexy($dir: column, $just: center, $align: flex-start);
    &-item {
      @include flexy($dir: column, $just: flex-start, $align: center);
      margin-bottom: 1.25rem;

      h3 {
        text-transform: uppercase;
      }

      .discord {
        @include flexy($dir: column, $just: flex-start, $align: center);
      }
    }

    @include mq(md) {
      &-item {
        @include flexy($dir: column, $just: flex-start, $align: flex-start);
        padding-right: 1.25rem;
        margin-bottom: 1.25rem;
      }
    }
  }
}

.introduction {
  @extend %py-panel;
  width: 100%;
  @include flexy($dir: row, $just: center, $align: center);
  height: 100vh;
  background: linear-gradient(
      rgba($color-primary, 0.9),
      rgba($color-primary, 0.8)
    ),
    url("/img/bg-main.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &-content {
    @include flexy($dir: row, $just: flex-start, $align: center);
    overflow: hidden;
    border-left: 8px solid $color-neon;
  }

  &-text {
    @include flexy($dir: column, $just: center, $align: flex-start);
    font-size: 24px;
    font-weight: weight(bold);
    line-height: 1.25;
    color: $color-font-light;
  }

  @include mq(md) {
    &-text {
      font-size: 72px;
    }
  }

  &-animate {
    @include flexy($dir: row, $just: flex-start, $align: center);
    font-weight: weight(bold);
    line-height: 1.25;
    color: $color-neon;
  }

  #text-tab {
    transition: opacity 0.5s ease-in-out;
    transform: scaleX(0.25);
  }
}

.content {
  @extend %py-panel;
  background: $color-neon;
}

.donation {
  @extend %py-panel;
  color: $color-font-light;
  background: linear-gradient(
      rgba($color-primary, 0.9),
      rgba($color-primary, 0.8)
    ),
    url("/img/bg-main.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &-content {
    @include flexy($dir: column, $just: center, $align: center);
    text-align: center;
    line-height: 1.75;

    p {
      @extend %py-panel;
    }
  }

  svg {
    color: $color-font-light;
    margin-right: 6px;
  }

  a {
    @include flexy($dir: row, $just: center, $align: center);
  }
}

.post {
  &-top {
    @extend %py-panel;
  }

  &-content {
    text-align: center;
    padding: 1.75rem 0.75rem;
  }

  &-info {
    @include flexy($dir: row, $just: space-between, $align: center);
    @extend %my-panel;
    width: 100%;

    .published {
      margin-left: auto;
    }
  }

  &-author {
    @include flexy($dir: row, $just: flex-start, $align: center);
  }
}
