@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

html {
  position: relative;
}

html,
body {
  min-height: 100vh;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background: $color-secondary;
}

body {
  font-family: "Poppins", sans-serif;
}

main,
header,
footer {
  width: 100%;
}

a {
  color: $color-font-light;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $color-neon;
  }
}

ul {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
a {
  margin: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

input {
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}
