.m-title {
  margin-bottom: 0.75rem;
}

%py-panel {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

%px-panel {
  padding-right: 1.75rem;
  padding-left: 1.75rem;
}

%pt-panel {
  padding-top: 0.75rem;
}

%pb-panel {
  padding-bottom: 0.75rem;
}

%my-panel {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

%mx-panel {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

%mt-panel {
  margin-top: 0.75rem;
}

%mb-panel {
  margin-bottom: 0.75rem;
}
