.btn {
  padding: 0.45rem 0.75rem;
  color: $color-font-light;
  font-weight: weight(bold);
  border-radius: 6px;

  &-neon {
    background-color: $color-neon;

    &:hover {
      background-color: lighten($color-neon, 10%);
      color: $color-font-light;
    }
  }

  &-youtube {
    background-color: #c9322c;

    &:hover {
      background-color: lighten(#c9322c, 10%);
      color: $color-font-light;
    }

    a {
      @include flexy($dir: row, $just: center, $align: center);

      svg {
        margin-left: 0.45rem;
      }
    }

    a:hover {
      color: $color-font-light;
    }
  }

  &-content {
    margin-top: 0.75rem;
    background-color: $color-font-light;
    color: $color-neon;

    &:hover {
      color: $color-neon;
    }
  }
}

.discord {
  .btn-neon {
    width: 100%;
    text-align: center;
  }
}
