@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
}

html {
  position: relative;
}

html,
body {
  min-height: 100vh;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background: #202020;
}

body {
  font-family: "Poppins", sans-serif;
}

main,
header,
footer {
  width: 100%;
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #f29f05;
}

ul {
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
a {
  margin: 0;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}
button:hover, button:active, button:focus {
  outline: none;
}

input:hover, input:active, input:focus {
  outline: none;
}

.btn {
  padding: 0.45rem 0.75rem;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
}
.btn-youtube {
  background-color: #f29f05;
}
.btn-youtube:hover {
  background-color: #fbb32f;
  color: #fff;
}
.btn-content {
  margin-top: 0.75rem;
  background-color: #fff;
  color: #f29f05;
}
.btn-content:hover {
  color: #f29f05;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0.75rem 1.45rem;
  position: fixed;
  z-index: 1000;
  margin-bottom: 2.25rem;
  background: rgba(32, 32, 32, 0.8);
}
.navbar .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.navbar .nav-item {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.25rem 0.75rem;
}
.navbar .brand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.navbar .brand h2 {
  margin-left: 6px;
  color: #fff;
}
.navbar::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(130deg, #fff447, #f28705 41.07%, #ff1926 76.05%);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 125px;
  padding: 1.25rem 0.75rem;
  color: #fff;
  background: #0d0d0d;
}

.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-items .copy {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .footer-items .copy {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .footer-items {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.footer-social .notify {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}
.footer-social .line {
  margin-top: 0.75rem;
  height: 6px;
  width: 24px;
  background: #f29f05;
}
.footer-social ul {
  margin-top: 0.75rem;
}
.footer-social ul li a {
  color: #fff;
}
.footer-social ul li a:hover {
  color: #f29f05;
}

.logo {
  max-width: 35px;
  max-height: 35px;
}
.logo-lg {
  max-width: 55%;
  max-height: 55%;
}

.img-profile {
  max-width: 60%;
  max-height: 60%;
  border-radius: 50%;
}

.header-line {
  width: 100%;
  height: 2px;
  background: #f29f05;
  padding: 0;
}
.header-title {
  text-transform: uppercase;
  color: #f29f05;
  margin-bottom: 0.75rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 6px;
  padding: 0.75rem;
  text-align: center;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icons-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.icons-social li {
  margin-right: 1.25rem;
}
.icons-social li:last-child {
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -15px;
  margin-left: -15px;
}
.row .col-1 {
  position: relative;
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
  width: 100%;
}
.row .col-2 {
  position: relative;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  width: 100%;
}
.row .col-3 {
  position: relative;
  flex: 0 0 25%;
  max-width: 25%;
  width: 100%;
}
.row .col-4 {
  position: relative;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  width: 100%;
}
.row .col-5 {
  position: relative;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  width: 100%;
}
.row .col-6 {
  position: relative;
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
}
.row .col-7 {
  position: relative;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  width: 100%;
}
.row .col-8 {
  position: relative;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  width: 100%;
}
.row .col-9 {
  position: relative;
  flex: 0 0 75%;
  max-width: 75%;
  width: 100%;
}
.row .col-10 {
  position: relative;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  width: 100%;
}
.row .col-11 {
  position: relative;
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
  width: 100%;
}
.row .col-12 {
  position: relative;
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .row .col-sm-1 {
    position: relative;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    width: 100%;
  }
  .row .col-sm-2 {
    position: relative;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    width: 100%;
  }
  .row .col-sm-3 {
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
  }
  .row .col-sm-4 {
    position: relative;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    width: 100%;
  }
  .row .col-sm-5 {
    position: relative;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    width: 100%;
  }
  .row .col-sm-6 {
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
  }
  .row .col-sm-7 {
    position: relative;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    width: 100%;
  }
  .row .col-sm-8 {
    position: relative;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    width: 100%;
  }
  .row .col-sm-9 {
    position: relative;
    flex: 0 0 75%;
    max-width: 75%;
    width: 100%;
  }
  .row .col-sm-10 {
    position: relative;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    width: 100%;
  }
  .row .col-sm-11 {
    position: relative;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    width: 100%;
  }
  .row .col-sm-12 {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .row .col-md-1 {
    position: relative;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    width: 100%;
  }
  .row .col-md-2 {
    position: relative;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    width: 100%;
  }
  .row .col-md-3 {
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
  }
  .row .col-md-4 {
    position: relative;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    width: 100%;
  }
  .row .col-md-5 {
    position: relative;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    width: 100%;
  }
  .row .col-md-6 {
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
  }
  .row .col-md-7 {
    position: relative;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    width: 100%;
  }
  .row .col-md-8 {
    position: relative;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    width: 100%;
  }
  .row .col-md-9 {
    position: relative;
    flex: 0 0 75%;
    max-width: 75%;
    width: 100%;
  }
  .row .col-md-10 {
    position: relative;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    width: 100%;
  }
  .row .col-md-11 {
    position: relative;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    width: 100%;
  }
  .row .col-md-12 {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .row .col-lg-1 {
    position: relative;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    width: 100%;
  }
  .row .col-lg-2 {
    position: relative;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    width: 100%;
  }
  .row .col-lg-3 {
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
  }
  .row .col-lg-4 {
    position: relative;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    width: 100%;
  }
  .row .col-lg-5 {
    position: relative;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    width: 100%;
  }
  .row .col-lg-6 {
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
  }
  .row .col-lg-7 {
    position: relative;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    width: 100%;
  }
  .row .col-lg-8 {
    position: relative;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    width: 100%;
  }
  .row .col-lg-9 {
    position: relative;
    flex: 0 0 75%;
    max-width: 75%;
    width: 100%;
  }
  .row .col-lg-10 {
    position: relative;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    width: 100%;
  }
  .row .col-lg-11 {
    position: relative;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    width: 100%;
  }
  .row .col-lg-12 {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .row .col-xl-1 {
    position: relative;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    width: 100%;
  }
  .row .col-xl-2 {
    position: relative;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    width: 100%;
  }
  .row .col-xl-3 {
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
  }
  .row .col-xl-4 {
    position: relative;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    width: 100%;
  }
  .row .col-xl-5 {
    position: relative;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    width: 100%;
  }
  .row .col-xl-6 {
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
  }
  .row .col-xl-7 {
    position: relative;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    width: 100%;
  }
  .row .col-xl-8 {
    position: relative;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    width: 100%;
  }
  .row .col-xl-9 {
    position: relative;
    flex: 0 0 75%;
    max-width: 75%;
    width: 100%;
  }
  .row .col-xl-10 {
    position: relative;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    width: 100%;
  }
  .row .col-xl-11 {
    position: relative;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    width: 100%;
  }
  .row .col-xl-12 {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}

.container,
.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  max-width: 90vw;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.about {
  height: auto;
  color: #fff;
  background: #202020;
  padding: 1.25rem 0;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
}
.about-content .btn-youtube {
  margin-top: 1.25rem;
}

.introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 !important;
  overflow: hidden;
  background: linear-gradient(rgba(13, 13, 13, 0.9), rgba(13, 13, 13, 0.8)), url("/img/bg-main.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.introduction-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border-left: 8px solid #f29f05;
}
.introduction-content .line {
  display: block;
  width: 6px;
  min-height: 114px;
  height: 100%;
  background: #f29f05;
  margin: 0 0.75rem 0 0;
  padding: 0;
}
.introduction-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .introduction-text {
    font-size: 72px;
  }
}
.introduction-animate {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  line-height: 1.25;
  color: #f29f05;
}
.introduction #text-tab {
  transition: opacity 0.5s ease-in-out;
  transform: scaleX(0.25);
}

.content {
  padding: 1.25rem;
  background: #f29f05;
}

/*# sourceMappingURL=style.css.map */
